<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="css/pageStyle.css" type="text/css">
  <link rel="stylesheet" href="css/cardStyle.css" type="text/css">
</head>

<body>
  <% for(let p = 0; p < data.length; p++){ %>
    <div class="page">
      <% const page = data[p]; %>
      <% for (let c = 0; c < page.length; c++){ %>
        <% const card = page[c]; %>
        <div class="card">
          <img src="pictures/CardOutline.png" alt="outlinedCard" class="backCard">
          <div class="title">
            
          </div>
          <img src= <%- card.orbLinks[0]  %> class="innerCircle innerCircleTop" alt="">
          <img src= <%- card.orbLinks[1]  %> class="innerCircle innerCircleBottom" alt="">
          <img src= <%- card.orbLinks[2]  %> class="innerCircle innerCircleLeft" alt="">
          <img src= <%- card.orbLinks[3]  %> class="innerCircle innerCircleRight" alt="">

          <img src="pictures/CircleBlack.png"  class="orbCardTopMarker" alt="">
          
          <img src="pictures/CircleBlack.png" class="outerCircle outerCircleTop" alt="">
          <img src="pictures/CircleBlack.png" class="outerCircle outerCircleBottom" alt="">
          <img src="pictures/CircleBlack.png" class="outerCircle outerCircleLeft" alt="">
          <img src="pictures/CircleBlack.png" class="outerCircle outerCircleRight" alt="">
        </div>
      <% } %>
    </div>
  <% } %>
</body>

</html>