<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="css/pageStyle.css" type="text/css">
  <link rel="stylesheet" href="css/cardStyle.css" type="text/css">
</head>

<body>
  <% const cardsPerPage = 6; %>
  <% let totalPages = Math.floor(data.length / cardsPerPage); %>
  <% if(data.length % cardsPerPage != 0) { %>
    <% totalPages++; %>
  <% } %>

  <% for(let p = 0; p < totalPages; p++){ %>
    
    <% let cardsOnPage = cardsPerPage %>
    <% if(p == (totalPages - 1) && data.length % cardsPerPage != 0) {%>
      <% cardsOnPage = data.length % cardsPerPage %>
    <% } %>

    <div class="page largeCardsPage">
      <% for (let c = 0; c < cardsOnPage; c++){ %>
        <% const card = data[(p * cardsPerPage) + c]; %>
        <div class="largeCard">

          <img src="pictures/CardOutline.png" alt="outlinedCard" class="backCard">

          <img src= <%- card.orbLinks[0]  %> class="innerSquare innerSquareTop" alt="">
          <img src= <%- card.orbLinks[1]  %> class="innerSquare innerSquareBottom" alt="">
          <img src= <%- card.orbLinks[2]  %> class="innerSquare innerSquareLeft" alt="">
          <img src= <%- card.orbLinks[3]  %> class="innerSquare innerSquareRight" alt="">

          <img src="pictures/SquareBlack.png"  class="largeOrbCardTopMarker" alt="">
          
          <img src="pictures/SquareBlack.png" class="outerSquare outerSquareTop" alt="">
          <img src="pictures/SquareBlack.png" class="outerSquare outerSquareBottom" alt="">
          <img src="pictures/SquareBlack.png" class="outerSquare outerSquareLeft" alt="">
          <img src="pictures/SquareBlack.png" class="outerSquare outerSquareRight" alt="">
        </div>
      <% } %>
    </div>
  <% } %>
</body>

</html>