:root{
    --circle-diameter: 30px;
    --circle-border: 2px;

    --square-diameter: 70px;
    --square-border: 4px;
}

body{
    color: black;
}
img{
    margin: 0px;
    padding: 0px;
}

p{
    margin: 0px;
}

.centered{
    text-align: center;
}

.fullWidth{
    width: 100%;
}

.card {
    position: relative;
    width: 2.5in;
    height: 3.5in;
    display: inline-block;
}

.backCard{
    height: 100%;
    width: 100%;
    z-index: 1;
}

.title{
    font-weight: bold;
    position: absolute;
    top: 8px;
    left: 8px;
}

.cardCenter{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0 );
}

.innerCircleTop{
    top: calc((var(--circle-diameter) / 2) + var(--circle-border));
    left: 50%;
}

.innerCircleBottom{
    bottom: calc(((var(--circle-diameter) / 2) * -1) + var(--circle-border));
    left: 50%;
}

.innerCircleLeft{
    top: 50%;
    left: calc((var(--circle-diameter) / 2) + var(--circle-border));
}

.innerCircleRight{
    top: 50%;
    right: calc(((var(--circle-diameter) / 2) * -1) + var(--circle-border));
}

.innerCircle {
    transform: translate3d(-50%, -50%, 0 );
    position: absolute;
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    z-index: 2;
}

.outerCircleTop{
    top: calc((var(--circle-diameter) / 2) + var(--circle-border));
    left: 50%;
}

.outerCircleBottom{
    bottom: calc(((var(--circle-diameter) / 2) + var(--circle-border)) * -1);
    left: 50%;
}

.outerCircleLeft{
    top: 50%;
    left: calc((var(--circle-diameter) / 2) + var(--circle-border));
}

.outerCircleRight{
    top: 50%;
    right: calc(((var(--circle-diameter) / 2) + var(--circle-border)) * -1);;
}

.outerCircle {
    position: absolute;
    transform: translate3d(-50%, -50%, 0 );
    width: calc(var(--circle-diameter) + (var(--circle-border) * 2));
    height: calc(var(--circle-diameter) + (var(--circle-border) * 2));
    z-index: 1;
}

.innerSquareTop{
    top: calc((var(--square-diameter) / 2) + var(--square-border));
    left: 50%;
}

.innerSquareBottom{
    bottom: calc(((var(--square-diameter) / 2) * -1) + var(--square-border));
    left: 50%;
}

.innerSquareLeft{
    top: 50%;
    left: calc((var(--square-diameter) / 2) + var(--square-border));
}

.innerSquareRight{
    top: 50%;
    right: calc(((var(--square-diameter) / 2) * -1) + var(--square-border));
}

.innerSquare {
    transform: translate3d(-50%, -50%, 0 );
    position: absolute;
    width: var(--square-diameter);
    height: var(--square-diameter);
    z-index: 2;
}

.outerSquareTop{
    top: calc((var(--square-diameter) / 2) + var(--square-border));
    left: 50%;
}

.outerSquareBottom{
    bottom: calc(((var(--square-diameter) / 2) + var(--square-border)) * -1);
    left: 50%;
}

.outerSquareLeft{
    top: 50%;
    left: calc((var(--square-diameter) / 2) + var(--square-border));
}

.outerSquareRight{
    top: 50%;
    right: calc(((var(--square-diameter) / 2) + var(--square-border)) * -1);;
}

.outerSquare {
    position: absolute;
    transform: translate3d(-50%, -50%, 0 );
    width: calc(var(--square-diameter) + (var(--square-border) * 2));
    height: calc(var(--square-diameter) + (var(--square-border) * 2));
    z-index: 1;
}

.orbCardTopMarker
{
    transform: translate3d(-50%, -50%, 0 );
    position: absolute;
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    z-index: 2;
    left: 50%;
    top: 25%;
}

.borderTest{
    position: absolute;
    width: 170px;
    height: 275px;
}

.cardName{
    text-align: center;
    font-weight: bold;
    margin-top: 3px;
    font-size: 1rem;
}

.cardTags{
    text-align: center;
    font-style: italic;
    margin-top: 3px;
    font-size: .90rem;
}

.cardText{
    text-align: left;
    font-size: .85rem;
}

.cardCost{
    text-align: right;
    font-size: 1rem;
    position: absolute;
    bottom: -22px;
    right: -23px;
    width: 50px;
    height: 18px;
}

.cardRarity{
    text-align: left;
    font-size: 1rem;
    position: absolute;
    bottom: -22px;
    left: -23px;
    width: 50px;
    height: 18px;
}

.cardQuantity{
    text-align: left;
    font-size: .6rem;
    position: absolute;
    bottom: -22px;
    right: -2px;
    width: 70px;
    height: 10px;
}

hr.taperedLine {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-top: 0px;
    margin-bottom: 3px;
}

.cardPage {
    display: grid;
    grid-template-rows: 3.5in 3.5in 3.5in;
    grid-auto-flow: column;
    grid-auto-columns: 2.5in 2.5in 2.5in;
}

.largeCardsPage {
    display: grid;
    grid-template-rows: 3in 3in 3in;
    grid-auto-flow: column;
    grid-auto-columns: 4in 4in;
}

.largeCard {
    height: 3in;
    width: 4in;
    position: relative
}

.largeOrbCardTopMarker {
    transform: translate3d(-50%, -50%, 0 );
    position: absolute;
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    z-index: 2;
    left: 25%;
    top: 50%;
}